<h3>Others who added <%= current_song.title %><%= current_song.artist %></h3>

<table>
  <thead>
  <tr>
  <td>Name</td>
  <td>Title</td>
  <td>No. of Times Song has been Added</td>
  </tr>
  </thead>
  <tbody>

      <td><%= @Song.find. %></td>
      <td><a href="/users/<%=user.id %>"><%= addedsong.user %></td>
      <td><%= current_song.added_count %></td>
      </tr>
  </tbody>
</table></br>
